* {
    box-sizing: border-box;
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

h2 {
    text-transform: uppercase;
}

/* Introduction */
#introduction_wrapper
{
    background-image: url("background4.jpg");
    background-position: center center;
    background-attachment: fixed;
    background-color: #606060FF;
    height: 1000px;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
}

.introduction_title {
    color: #ffffff;
}

/* About */     
#about_wrapper {
    margin: 40px auto;
    margin-bottom: 100px;
    color: rgb(114, 120, 120);
    height: auto;
    max-width: 1100px;
}

.about_title {
    margin: 0 auto;
    padding-bottom: 0;
    text-align: center;
    color: lightseagreen;
    font-size: 30px;
    text-transform: uppercase;
}

.about_title p {
    color: #434242;
    text-transform: none;
    padding-bottom: 25px;
    font-size: 20px;
}

.about_container {
    font-family: 'Raleway', sans-serif;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-flow: wrap;
}

.about_details {
    display: flex;
    width: 30%;
    justify-content: space-around;
}

.about_details h3 {
    position: absolute;
}

.about_details .about_details_wrapper, .info_container {
    margin-top: 70px;
    letter-spacing: 0.1em;
    line-height: 2em;
}

.about_container ul {
    padding-left: 0;
}

@media (max-width: 977px) {
    .about_details {
        width: 70%;
        text-align: justify;

    }
}

@media (max-width: 600px) {
    .about_details{
        width: 80%;
    }

    .info_container {
        text-align: left;
    }
}

@media (max-width: 420px) {
    #introduction_wrapper {
        background-attachment: scroll;
        height: 810px;
    }
}

@media (max-width: 400px) {
    #introduction_wrapper {
        background-attachment: scroll;
        height: 620px;
    }
}

/* Learned */

#learned_wrapper {
    height: auto;
    margin-bottom: 60px;
    background-image: url("gif.gif");
    background-position: center;
    background-color: #606060FF;
    background-attachment: fixed;
    color: #434242;
    letter-spacing: 0.1em;
    line-height: 2em;
}

.learned_title {
    margin: 0 auto;
    max-width: 1100px;
    padding: 20px 0 0 0;
}

.learned_title h2 {
    text-align: center; 
    color: #ffffff; 
    font-size: 40px;
    line-height: 1em;
    padding: 25px;
}

.learned_title p {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    text-transform: none;
    padding-bottom: 25px;
    font-size: 20px;
    border-bottom: 1px solid lightseagreen;
    color: white;
}

.learned_container {
    font-family: 'Roboto', sans-serif;
    margin: auto;
    padding-bottom: 50px;
    width: 1000px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.learned_details {
    color: #ffffff;
    padding: 20px;
    border: 1px solid white;
    background-color: #333;
    
}

.centered_box {
    display: flex;
    grid-column: span 2;
    justify-content: center;
}

.centered_box img {
    border: 1px solid white;
}

.learned_details table, th, td {
    color: black;
    text-align: center;
    align-content: center;
    border: 2px solid #ffffff;
    border-collapse: collapse;
    padding: 15px;
    text-align: left;
}

.learned_details th, td {
    text-align: center;
    background-color: #8c8c8c;
}

.list_details > h3{
    font-family: 'Roboto', sans-serif;
}

.list_container strong:hover {
    background-color: lightseagreen;
    border-radius: 2px;
    color: white;
}

@media (max-width: 500px) {

    .learned_container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-around;
        width: 90%;
        height: 1880px;
    }

    .learned_details table, tr {
        padding: 5px;
        font-size: 12px;
    }

    .learned_details .pictures_container {
        display: flex;
        flex-direction: column;
    }

    .learned_details img {
        display: flex;
        flex-direction: column;
        margin: auto;
        margin-bottom: 15px;
    }
}

/* Footer */

#footer_wrapper {
    margin-top: -59.3px;
    height: 970px;
    background-color: #141414;
    letter-spacing: 0.1em;
    line-height: 2em;
}

.footer_title {
    padding-top: 25px;
    color: #4e5f6b;
    margin: auto;
    width: 500px;
}

.footer_title p {
    font-size: 20px;
}

footer .social {
    display: flex;

    margin: 25px;
    
    width: 10%;
    justify-content: center;
    margin: auto;
}

footer .social a {
    margin-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
    color: #eb5349;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
}

footer .social a:hover {
    background-color: #4e5f6b;
    color: #fc0e00;
    border-radius: 5px;
    transition: ease 1s;
}

footer .copyright {
    display: flex;
    justify-content: center;
    color: #ffffff;
    padding: 15px;
    align-items: flex-end;
    height: 56%;
}

@media (max-width: 500px) {

    #footer_wrapper {
        height: 760px;
    }

    .footer_title {
        width: 310px;
    }

}